## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current_description
0,0,Torbay,CA,47.6666,-52.7314,70.57,60,75,17.27,broken clouds
1,1,Hami,CN,42.8000,93.4500,89.62,17,2,32.99,clear sky
2,2,Russell,US,32.3502,-85.1999,92.48,55,20,3.44,few clouds
3,3,Armacao De Pera,PT,37.1026,-8.3570,89.51,60,0,15.97,clear sky
4,4,Nelson Bay,AU,-32.7167,152.1500,48.69,93,0,4.90,clear sky

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 83

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current_description
0,0,Torbay,CA,47.6666,-52.7314,70.57,60,75,17.27,broken clouds
7,7,Puerto Ayora,EC,-0.7393,-90.3518,75.16,90,57,11.01,broken clouds
9,9,Nikolskoye,RU,59.7035,30.7861,67.78,67,17,5.55,few clouds
12,12,Saskylakh,RU,71.9167,114.0833,70.18,50,11,7.23,few clouds
13,13,Yellowknife,CA,62.4560,-114.3525,72.28,64,75,6.91,broken clouds
16,16,Hilo,US,19.7297,-155.0900,80.26,86,90,6.91,overcast clouds
17,17,Edea,CM,3.8000,10.1333,78.58,96,48,2.46,light rain
19,19,Atuona,PF,-9.8000,-139.0333,77.23,76,75,19.15,broken clouds
21,21,Kavieng,PG,-2.5744,150.7967,81.41,77,27,6.62,scattered clouds
25,25,Naze,JP,28.3667,129.4833,76.89,83,32,4.16,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                325
City                   325
Country                322
Lat                    325
Lng                    325
Max Temp               325
Humidity               325
Cloudiness             325
Wind Speed             325
Current_description    325
dtype: int64

In [7]:
preferred_cities_df.isnull()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current_description
0,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
679,False,False,False,False,False,False,False,False,False,False
680,False,False,False,False,False,False,False,False,False,False
684,False,False,False,False,False,False,False,False,False,False
685,False,False,False,False,False,False,False,False,False,False
686,False,False,False,False,False,False,False,False,False,False

In [8]:
# 4b. Drop any empty rows
clean_df=preferred_cities_df.drop(preferred_cities_df
[preferred_cities_df
["Country"]==""].index)
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current_description
0,0,Torbay,CA,47.6666,-52.7314,70.57,60,75,17.27,broken clouds
7,7,Puerto Ayora,EC,-0.7393,-90.3518,75.16,90,57,11.01,broken clouds
9,9,Nikolskoye,RU,59.7035,30.7861,67.78,67,17,5.55,few clouds
12,12,Saskylakh,RU,71.9167,114.0833,70.18,50,11,7.23,few clouds
13,13,Yellowknife,CA,62.4560,-114.3525,72.28,64,75,6.91,broken clouds
...,...,...,...,...,...,...,...,...,...,...
679,679,Catamarca,AR,-28.4696,-65.7852,71.58,38,0,5.99,clear sky
680,680,Southbridge,US,42.0751,-72.0334,82.38,58,6,14.12,clear sky
684,684,Fare,PF,-16.7000,-151.0167,78.37,68,61,15.68,broken clouds
685,685,Saquarema,BR,-22.9200,-42.5103,75.34,58,72,15.05,broken clouds
686,686,Juneau,US,58.3019,-134.4197,71.10,73,75,3.44,broken clouds

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current_description", "Lat", "Lng"]].copy()

In [10]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current_description,Lat,Lng,Hotel Name
0,Torbay,CA,70.57,broken clouds,47.6666,-52.7314,
7,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,
9,Nikolskoye,RU,67.78,few clouds,59.7035,30.7861,
12,Saskylakh,RU,70.18,few clouds,71.9167,114.0833,
13,Yellowknife,CA,72.28,broken clouds,62.4560,-114.3525,
16,Hilo,US,80.26,overcast clouds,19.7297,-155.0900,
17,Edea,CM,78.58,light rain,3.8000,10.1333,
19,Atuona,PF,77.23,broken clouds,-9.8000,-139.0333,
21,Kavieng,PG,81.41,scattered clouds,-2.5744,150.7967,
25,Naze,JP,76.89,scattered clouds,28.3667,129.4833,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.head(10)

,City,Country,Max Temp,Current_description,Lat,Lng,Hotel Name
0,Torbay,CA,70.57,broken clouds,47.6666,-52.7314,Gallows Cove
7,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Nikolskoye,RU,67.78,few clouds,59.7035,30.7861,Tourist House - Sablino
12,Saskylakh,RU,70.18,few clouds,71.9167,114.0833,
13,Yellowknife,CA,72.28,broken clouds,62.4560,-114.3525,The Explorer Hotel
16,Hilo,US,80.26,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Edea,CM,78.58,light rain,3.8000,10.1333,Micotel Hotel
19,Atuona,PF,77.23,broken clouds,-9.8000,-139.0333,Villa Enata
21,Kavieng,PG,81.41,scattered clouds,-2.5744,150.7967,Nusa Island Retreat
25,Naze,JP,76.89,scattered clouds,28.3667,129.4833,奄美ポートタワーホテル

In [13]:
hotel_df.count()

City                   325
Country                322
Max Temp               325
Current_description    325
Lat                    325
Lng                    325
Hotel Name             325
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.drop(hotel_df[hotel_df["Hotel Name"]==""].index)
clean_hotel_df

,City,Country,Max Temp,Current_description,Lat,Lng,Hotel Name
0,Torbay,CA,70.57,broken clouds,47.6666,-52.7314,Gallows Cove
7,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Nikolskoye,RU,67.78,few clouds,59.7035,30.7861,Tourist House - Sablino
13,Yellowknife,CA,72.28,broken clouds,62.4560,-114.3525,The Explorer Hotel
16,Hilo,US,80.26,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
679,Catamarca,AR,71.58,clear sky,-28.4696,-65.7852,Amerian Catamarca Park Hotel
680,Southbridge,US,82.38,clear sky,42.0751,-72.0334,Southbridge Hotel & Conference Center
684,Fare,PF,78.37,broken clouds,-16.7000,-151.0167,Maitai Lapita Village Huahine
685,Saquarema,BR,75.34,broken clouds,-22.9200,-42.5103,Hotel Fazenda Sol e Lua
686,Juneau,US,71.10,broken clouds,58.3019,-134.4197,"Baranof Downtown, Bw Signature Collection"

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current_description</dt><dd>{Max Temp} °F</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))